@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282828;
    --foreground: #ebdbb2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input, textarea {
  outline: none;
}

::-webkit-calendar-picker-indicator {
  filter: invert(80%) sepia(10%) saturate(500%) hue-rotate(0deg);
}