@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="gruvbox"] {
  --textPrimary: #EBDBB2;
  --textSecondary: #A89984;
  --link: #458588;
  --backgroundPrimary: #32302F;
  --backgroundSecondary: #282828;
  --button: #98971A;
  --danger: #CC241D;
  --warning: #D65D0E;
  --success: #689D6A;
  --modalBackground: rgba(0, 0, 0, 0.5);
}

[data-theme="catpuccin"] {
  --textPrimary: #c6d0f5;
  --textSecondary: #b5bfe2;
  --link: #81c8be;
  --backgroundPrimary: #303446;
  --backgroundSecondary: #414559;
  --button: #8caaee;
  --danger: #e78284;
  --warning: #ef9f76;
  --success: #a6d189;
  --modalBackground: rgba(0, 0, 0, 0.5);
}